Created by [action-nix-flake-update](https://github.com/dawidd6/action-nix-flake-update).

```sh
{{ nix_output }}
```

{% for comparison in comparisons -%}
- [{{ comparison.cover }}]({{ comparison.url }})
{% endfor -%}

